
@font-face {
  font-family: Arial;
  src: url(sansation_light.woff);
}

h1 {
text-align:left; color:#363630; font-weight:700; font-family: Segoe UI; font-size:2.5em;
}

h2 {
text-align: left; color:#75756a; font-family: Segoe UI; font-size:1.75em;
}

h3 {
text-align: left; color:black; font-family: Segoe UI; font-size:1.25em;
}

body {
margin-left:10%; margin-right:10%; font-family: Segoe UI; 
background-color:#dbdbc5;
background-repeat:no-repeat;
}

#menu {
color:#75756a; font-family: Arial; margin-top:2%; text-align:center; display:inline;
}

th {
  text-align: left;
}

<style>
a:link {
  color: black; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: #E5E8E8;
  text-decoration: none;
}
</style>
