


@font-face {
  font-family: 'OpenDyslexic2';
	src: url('OpenDyslexic2 (Windows, MacOS, Linux OTF)/OpenDyslexic-Bold.otf');
	src: url('OpenDyslexic2 (Windows, MacOS, Linux OTF)/OpenDyslexic-BoldItalic.otf');
	src: url('OpenDyslexic2 (Windows, MacOS, Linux OTF)/OpenDyslexic-Italic.otf');
	src: url('OpenDyslexic2 (Windows, MacOS, Linux OTF)/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
} 


h1 {
text-align:center; color:#000000; font-weight:700; font-family: Arial; font-size:2.5em;
}

h2 {
text-align: left; color:#000000; font-family: Arial; font-size:1.75em;
}

h3 {
text-align: left; color:black; font-family: Arial; font-size:1.25em;
}


body {
  background-image: url('BookLineDrawing.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

#menu {
color:#000000; font-family: Arial; margin-top:2%; text-align:center; display:inline;
}

th {
  text-align: left;
}

<style>
a:link {
  color: black; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: #0000ff;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: #E5E8E8;
  text-decoration: none;
}

.floatright
{
float: right;
width: 50%;
length: 50%;
	text-align:center; 
	color:#000000;
	font-weight:700;
	font-family: Arial;
	font-size:50%;
}

</style>

<style>
body {
  background: url("Banner4.jpg") repeat;
}
#banner {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 200px;
  z-index: -1;
}
</style>
