@font-face p {
 font-family: 'opendyslexic';
	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
	}



h1 {
text-align:center; color:#000000; font-weight:700; font-family: Arial; font-size:2.5em;
}

h2 {
text-align:center; color:#000000; font-weight:500; font-family: Arial; font-size:1.5em;
}
body {
  background-image: url('BannerImage2.2Lines.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}



<style>
a:link {
  color: black; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: #E5E8E8;
  text-decoration: none;
}

div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
} 

div.d {
  text-align: justify;
} 

</style>
