@font-face {
  font-family: 'opendyslexic';
	src: url('OpenDyslexic2 (Windows, MacOS, Linux OTF)/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	src: url('OpenDyslexic2 (Windows, MacOS, Linux OTF)/OpenDyslexic-Italic.otf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexic';
	src: url('OpenDyslexic2 (Windows, MacOS, Linux OTF)/OpenDyslexic-Bold.otf');
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	src: url('OpenDyslexic2 (Windows, MacOS, Linux OTF)/OpenDyslexic-BoldItalic.otf');
	font-weight: bold;
	font-style: italic;

} 


h1 {
text-align:center; color:#000000; font-weight:700; font-family: 'opendyslexic'; font-size:2.5em; line-height: normal;
}

h2 {
text-align:center; color:#000000; font-weight:500; font-family: 'opendyslexic'; font-size:1.5em; line-height: normal;
}

h3 {
text-align:justify; color:#000000; font-weight:250; font-family: 'opendyslexic'; font-size:1em; line-height: normal;
}

body {
  background-image: #fffff;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}



<style>
a:link {
  color: black; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: #E5E8E8;
  text-decoration: none;
}

div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
} 

div.d {
  text-align: justify;
} 

</style>
